{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="background:#c2c2a3">
    <div class="media">
        <!--<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">-->
        <div class="media-body">
            <p class="account-heading"> Username : <b> {{ user.username }}    </b></p>
            <p class="text-secondary">   First Name : <b> {{ user.first_name }}  </b></p>
            <p class="text-secondary">   Last Name  : <b> {{ user.last_name }}   </b></p>
            <p class="text-secondary">   Email     : <b> {{ user.email }}       </b></p>
            
            {% if user.gender == "M" %}
                <p class="text-secondary">   gender  :    <b>MALE</b></p>
            {% else %}            
                <p class="text-secondary">   gender  :    <b>FEMALE</b></p>
            {% endif %}

            <p class="text-secondary">   DOB  :       <b> {{ user.date_of_birth }}     </b></p>

            {% if user.role == 2 %}
                <p class="text-secondary"> Department : <b> {{ user.doctor.department }}  </b></p>
                <p class="text-secondary"> Education  : <b> {{ user.doctor.education }}   </b></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}