{% extends 'users/base.html' %}
{% block content %}
    <div class="content-section">
            <div class="container">
        <div class="section">
            <h1 class="center-align grey-text text-darken-1">Register Here</h1>
        </div>
         <br>
        <div class="divider"></div>
        <div class="section">
            <h4 class="center-align">Register as</h4>
            <br>
            <div class="row">
                <div class="col s12 m6 l4 ">
                    <div class="card-panel waves-effect waves-teal red lighten-5 z-depth-1">
                        <a href="{% url 'register_doctor' %}">
                            <div class="row valign-wrapper">

                                <div class="col s8">
                                    <div class="black-text">
                                        <h4>DOCTOR</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l4 ">
                    <div class="card-panel teal waves-effect waves-teal lighten-5 z-depth-1">
                        <a href="{% url 'register_patient' %}">
                            <div class="row valign-wrapper">

                                <div class="col s8">
                                    <div class="black-text">
                                        <h4>PATIENT</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <div class="form-group">
                <a href="{% url 'login' %}">
                    <small class="text-muted">already have an account</small>
                </a>
            </div>

</div>
{% endblock content %}
