{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form_group">
                    <legend class="border-bottom mb-4">JOIN TODAY AS PATIENT</legend>
                    {{ userform|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Register</button>
                </div>
            </form>

            <div class="form-group">
                    <small class="text-muted">already have an account</small>
            </div>
</div>
{% endblock content %}
